openapi: 3.2.0
info:
  title: Alto Lettings Progression API
  version: '1.0'
servers:
- url: https://api.alto.zoopladev.co.uk
  description: Sandbox
- url: https://api.alto.zoopla.co.uk
  description: Production
security:
- Bearer: []
tags:
- name: LettingsProgression
paths:
  /guarantorIds:
    get:
      tags:
      - LettingsProgression
      parameters:
      - name: tenantId
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: AgencyRef
        in: header
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TenantGuarantorDataItemCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/TenantGuarantorDataItemCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/TenantGuarantorDataItemCollection'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - appAuth:
        - alto/route:get-guarantorids
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    TenantGuarantorData:
      type: object
      properties:
        tenantId:
          type: integer
          format: int32
        guarantorIds:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GuarantorIdData'
      additionalProperties: false
    GuarantorIdData:
      type: object
      properties:
        guarantorContactId:
          type: integer
          format: int32
        guarantorId:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    TenantGuarantorDataItemCollection:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TenantGuarantorData'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
