{
  "openapi": "3.0.4",
  "info": {
    "title": "Alto API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.alto.zoopladev.co.uk",
      "description": "Sandbox"
    },
    {
      "url": "https://api.alto.zoopla.co.uk",
      "description": "Production"
    }
  ],
  "paths": {
    "/appointments/{appointmentId}/{instanceId}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Retrieves an appointment by their unique identifier and numeric instance",
        "description": "Retrieves an appointment by their unique identifier and numeric instance.\n            \nRequired scope: alto/read:appointments",
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "The unique identifier of the appointment",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The numeric instance of an appointment; this value is only greater than zero for general appointment types that are marked as recurring and represents the xth instance of a given appointment in a recurring series.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment retrieved for requested appointment id and instance.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerAppointment"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerAppointment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerAppointment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Appointment not found within the scope of the AgencyRef's authorised group and branches",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Validation error e.g. invalid format for appointment identifier or instance"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-appointments-appointmentid-instanceid"
            ]
          }
        ]
      }
    },
    "/appointments/general": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Create a general appointment.",
        "description": "Creates an appointment with the requested contacts and properties for the given negotiators.\nRequired scope: alto/write:appointments_general",
        "parameters": [
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the appointment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralAppointmentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralAppointmentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralAppointmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object containing the newly created appointment's unique identifier",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentData"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid date range selection.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:post-appointments-general"
            ]
          }
        ]
      }
    },
    "/appointments/general/{appointmentId}": {
      "patch": {
        "tags": [
          "Appointments"
        ],
        "summary": "Updates an existing general appointment",
        "description": "Updates a general appointment with any of the following fields supported for update:\n- /startDate ie. The start date and time in ISO 8601 format to update against the requested general appointment\n- /endDate ie. The end date and time in ISO 8601 format to update against the requested general appointment\n- /negotiatorIds ie. An array of all negotiators' unique identifiers to be associated against the requested general appointment\n            \nRequired scope: alto/write:appointments_general",
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "The appointment's unique identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralAppointmentPatchJsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralAppointmentPatchJsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralAppointmentPatchJsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object with a flag indicating a successful update"
          },
          "400": {
            "description": "Validation error e.g. invalid date range selection or unsupported patch path/value.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Appointment requesting to be updated does not exist against the requested AgencyRef",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:patch-appointments-general-appointmentid"
            ]
          }
        ]
      }
    },
    "/appointments/negotiators": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get negotiator's appointments within a selected time range.",
        "description": "Retrieves a paginated list of the requested negotiator's appointments within the selected time range, grouped by negotiator.\nRequired scope: alto/read:appointments",
        "parameters": [
          {
            "name": "start-date",
            "in": "query",
            "description": "Required: The start date and time in ISO 8601 format for filtering negotiator's appointments.\nInterpreted as UK local diary time: a value with a UTC marker (a trailing `Z`) or an explicit offset\nis converted to UK local time (Europe/London); a plain local value with no offset is taken as-is.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-01-01T00:00:00.0000000+00:00"
            },
            "example": "2023-01-01T00:00:00.0000000+00:00"
          },
          {
            "name": "end-date",
            "in": "query",
            "description": "Required: The end date and time in ISO 8601 format for filtering negotiator's appointments.\nInterpreted as UK local diary time: a value with a UTC marker (a trailing `Z`) or an explicit offset\nis converted to UK local time (Europe/London); a plain local value with no offset is taken as-is.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-01-01T00:00:00.0000000+00:00"
            },
            "example": "2023-01-01T00:00:00.0000000+00:00"
          },
          {
            "name": "type-id",
            "in": "query",
            "description": "Optional: The appointment type for filtering negotiator appointments;\nNOTE: If not set, this will return all appointment types",
            "schema": {
              "enum": [
                "Unspecified",
                "General",
                "Valuation",
                "Viewing",
                "Communication",
                "InternalMessage",
                "Offer",
                "AgreedOffer",
                "Note",
                "AuditedChange",
                "StickyNote",
                "FinancialTransaction",
                "Marketing",
                "Creation",
                "SyncedEmail",
                "AccountingTransaction",
                "WorkOrderEvent",
                "TenancyEvent",
                "FollowUp",
                "PersonalInformationRequest",
                "TdsEvent",
                "SigningRequest",
                "MaintenanceRequest",
                "DocumentSharing",
                "ConveyancerReferral"
              ],
              "type": "string",
              "example": "General"
            },
            "example": "General"
          },
          {
            "name": "next-token",
            "in": "query",
            "description": "The token for the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of results to return. The default value is 50, and the maximum value is 250.",
            "schema": {
              "maximum": 250,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "example": 50
            },
            "example": 50
          },
          {
            "name": "negotiator-id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointments retrieved for negotiator.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerUserAppointmentsPagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerUserAppointmentsPagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerUserAppointmentsPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid date range selection.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-appointments-negotiators"
            ]
          }
        ]
      }
    },
    "/appointments/valuations": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get valuations within a selected time range.",
        "description": "Retrieves a paged collection of valuations per the search criteria, which must include at least a Created Date range.",
        "parameters": [
          {
            "name": "created-from",
            "in": "query",
            "description": "Required: The lower limit for created date and time in ISO 8601 format for filtering appointments",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-01-01T00:00:00.0000000+00:00"
            },
            "example": "2023-01-01T00:00:00.0000000+00:00"
          },
          {
            "name": "created-to",
            "in": "query",
            "description": "Required: The upper limit for created date and time in ISO 8601 format for filtering appointments",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-01-01T00:00:00.0000000+00:00"
            },
            "example": "2023-01-01T00:00:00.0000000+00:00"
          },
          {
            "name": "negotiator-ids",
            "in": "query",
            "description": "Optional: A comma-separated list of negotiator ids for filtering appointments\nNOTE: If not set, this will default to all negotiators in the searched branches",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "branch-ids",
            "in": "query",
            "description": "Optional: A comma-separated list of branch ids for filtering appointments\nNOTE: If not set, this will default to all branches",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "next-token",
            "in": "query",
            "description": "The token for the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of results to return. The default value is 50, and the maximum value is 250.",
            "schema": {
              "maximum": 250,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "example": 50
            },
            "example": 50
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Valuations retrieved.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerAppointmentPagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerAppointmentPagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPartnerAppointmentPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid date range selection.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-appointments-valuations"
            ]
          }
        ]
      }
    },
    "/appointments/viewings": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Create a viewing appointment.",
        "description": "Creates a viewing appointment with the requested applicant and property in a negotiator's calender.\nRequired scope: alto/write:appointments_viewings",
        "parameters": [
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the viewing details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ViewingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object containing the newly created viewing appointment's unique identifier",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentData"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid date range selection.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:post-appointments-viewings"
            ]
          }
        ]
      }
    },
    "/appointments/viewings/{appointmentId}": {
      "patch": {
        "tags": [
          "Appointments"
        ],
        "summary": "Updates an existing viewing",
        "description": "Updates a viewing with any of the following fields supported for update:\n- /startDate ie. The start date and time in ISO 8601 format to update against the requested viewing\n- /endDate ie. The end date and time in ISO 8601 format to update against the requested viewing\n- /negotiatorId ie. The unique identifier of the negotiator to be associated with the requested viewing\n- /status ie. When cancelling, the status the requested viewing should be set to\n- /notes ie. The notes to be associated with the requested viewing\n- /internalNotes ie. The internal notes to be associated with the requested viewing\n- /applicantFeedback ie. The applicant feedback to be associated with the requested viewing\n            \nRequired scope: alto/write:appointments_viewings",
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "The appointment's unique identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewingPatchJsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewingPatchJsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ViewingPatchJsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object with a flag indicating a successful update"
          },
          "400": {
            "description": "Validation error e.g. invalid date range selection or unsupported patch path/value.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Appointment requesting to be updated does not exist against the requested AgencyRef",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:patch-appointments-viewings-appointmentid"
            ]
          }
        ]
      }
    },
    "/parameters/appointment-subtypes": {
      "get": {
        "tags": [
          "Parameters"
        ],
        "summary": "Get general appointment sub-types.",
        "description": "Retrieves a list of all the general appointment sub-types supported by the group.\nRequired scope: alto/read:appointments",
        "parameters": [
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sub types have been retrieved for general appointments",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiaryEventSubType"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiaryEventSubType"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiaryEventSubType"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Invalid scope or AgencyRef for request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-parameters-appointment-subtypes"
            ]
          }
        ]
      }
    },
    "/appraisals": {
      "post": {
        "tags": [
          "Appraisals"
        ],
        "summary": "Create an appraisal",
        "description": "Creates an appraisal associated to the requested property",
        "operationId": "CreateAppraisal",
        "parameters": [
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "A GUID required in the header of all API requests that grants access to an agent's data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the appraisal request details",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Appraisal.Api.Models.Requests.CreateAppraisalRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Returns the unique identifier of the newly created appraisal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "description": "When the request does not contain the expected information"
          },
          "401": {
            "description": "When access has not been granted"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:post-appraisals"
            ]
          }
        ]
      }
    },
    "/inventory/{propertyId}/appraisal": {
      "patch": {
        "tags": [
          "Appraisals"
        ],
        "summary": "Update an appraisal",
        "description": "Update the appraisal associated with the requested property",
        "operationId": "PatchAppraisal",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "A GUID required in the header of all API requests that grants access to an agent's data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the appraisal request details",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SystemTextJsonPatch.JsonPatchDocument1_Alto.Appraisal.Api.Models.Requests.PatchAppraisalRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The appraisal was updated"
          },
          "400": {
            "description": "When the request does not contain the expected information"
          },
          "401": {
            "description": "When access has not been granted"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:patch-inventory-propertyid-appraisal"
            ]
          }
        ]
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "This endpoint is now obsolete. Use /contacts endpoint instead.",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "A GUID required in the header of all API requests that grants access to an agent's data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDataItemCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDataItemCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDataItemCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "appAuth": [
              "alto/route:get-clients"
            ]
          }
        ]
      }
    },
    "/branches": {
      "get": {
        "tags": [
          "Branches"
        ],
        "summary": "Get Branches",
        "description": "Get a paginated list of branches",
        "parameters": [
          {
            "name": "next-token",
            "in": "query",
            "description": "The token for the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of results to return. The default value is 50, and the maximum value is 250.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activeOnly",
            "in": "query",
            "description": "Set whether active branches only are returned.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "A GUID required in the header of all API requests that grants access to an agent's data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of branches.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-branches"
            ]
          }
        ]
      }
    },
    "/branches/{branchId}": {
      "get": {
        "tags": [
          "Branches"
        ],
        "summary": "Get Branch By Id",
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "description": "The unique identifier for the branch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "A GUID required in the header of all API requests that grants access to an agent's data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the branch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          },
          "400": {
            "description": "When the request does not contain the expected information."
          },
          "401": {
            "description": "When access to the branch has not been granted."
          },
          "404": {
            "description": "When the branch is not found."
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-branches-branchid"
            ]
          }
        ]
      }
    },
    "/negotiators": {
      "get": {
        "tags": [
          "Negotiators"
        ],
        "summary": "Get Negotiators",
        "description": "Get a paginated list of negotiators",
        "parameters": [
          {
            "name": "next-token",
            "in": "query",
            "description": "The token for the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of results to return. The default value is 50, and the maximum value is 250.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "A GUID required in the header of all API requests that grants access to an agent's data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of negotiators",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegotiatorPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-negotiators"
            ]
          }
        ]
      }
    },
    "/negotiators/{negotiatorId}": {
      "get": {
        "tags": [
          "Negotiators"
        ],
        "summary": "Get Negotiator By Id",
        "parameters": [
          {
            "name": "negotiatorId",
            "in": "path",
            "description": "The unique identifier for the negotiator",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "A GUID required in the header of all API requests that grants access to an agent's data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the negotiator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Negotiator"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The negotiator was not found"
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-negotiators-negotiatorid"
            ]
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact(s) by Id(s)",
        "description": "See glossary for definition of <a href=\"https://developers.zoopla.co.uk/docs/glossary#person\">Person</a> and <a href=\"https://developers.zoopla.co.uk/docs/glossary#contact\">Contact</a>.",
        "operationId": "GetContactsById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The IDs for the Contacts being requested.",
            "schema": {
              "maxItems": 50,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact returned for Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.Contact"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.Contact"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate contacts found. Check Location response headers for URI.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Person(s) by Contact Id",
        "description": "See glossary for definition of <a href=\"https://developers.zoopla.co.uk/docs/glossary#person\">Person</a> and <a href=\"https://developers.zoopla.co.uk/docs/glossary#contact\">Contact</a>.",
        "operationId": "GetContact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact returned for Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.Contact"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts-contactid"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Contact by Id",
        "description": "See glossary for definition of <a href=\"https://developers.zoopla.co.uk/docs/glossary#contact\">Contact</a>.",
        "operationId": "UpdateContact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ContactPatchDocument payload with the intended changes.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SystemTextJsonPatch.JsonPatchDocument1_Alto.Contacts.Api.Models.Requests.PatchContactRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.Contact"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Patch request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts-contactid"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/applicant-requirements": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Applicant Requirement",
        "operationId": "CreateApplicantRequirement",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the requirements.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostApplicantRequirementRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostApplicantRequirementRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostApplicantRequirementRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.ApplicantRequirement"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Applicant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:post-contacts-contactid-applicant-requirements"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/applicant-requirements/{requirementId}": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Applicant Requirement by Id",
        "operationId": "UpdateApplicantRequirement",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requirementId",
            "in": "path",
            "description": "The unique identifier for the Applicant Requirement.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ApplicantRequirement patch request payload with the intended changes.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SystemTextJsonPatch.JsonPatchDocument1_Alto.Contacts.Api.Models.Requests.PatchApplicantRequirement"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Applicant Requirement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.PatchApplicantRequirement"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Patch request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Applicant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:patch-contacts-contactid-applicant-requirements-requirementid"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/bank-accounts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Bank Accounts by Contact Id",
        "operationId": "ListBankAccounts",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank accounts returned for Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alto.Contacts.Core.Models.Domain.BankAccount"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No bank accounts found for Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alto.Contacts.Core.Models.Domain.BankAccount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/read:contact_bank_accounts",
              "alto/route:get-contacts-contactid-bank-accounts"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/forwarding-address": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact Forwarding Address",
        "operationId": "CreateForwardingAddress",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostForwardingAddressRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostForwardingAddressRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostForwardingAddressRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact forwarding address created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:post-contacts-contactid-forwarding-address"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/persons": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Person(s) by Contact Id",
        "description": "See glossary for definition of <a href=\"https://developers.zoopla.co.uk/docs/glossary#person\">Person</a> and <a href=\"https://developers.zoopla.co.uk/docs/glossary#contact\">Contact</a>.",
        "operationId": "GetPersons",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact returned for Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.Contact"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts-contactid-persons"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/persons/{personId}": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Person by Contact Id",
        "description": "See glossary for definition of <a href=\"https://developers.zoopla.co.uk/docs/glossary#person\">Person</a>.",
        "operationId": "UpdatePerson",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "description": "The Person identifier within the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "PersonPatchDocument payload with the intended changes.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SystemTextJsonPatch.JsonPatchDocument1_Alto.Contacts.Api.Models.Requests.PatchPersonRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Person.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.PatchPersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Patch request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact or Person not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:patch-contacts-contactid-persons-personid"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Person by Contact Id",
        "description": "See glossary for definition of <a href=\"https://developers.zoopla.co.uk/docs/glossary#person\">Person</a>.",
        "operationId": "GetPerson",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "description": "The Person identifier within the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person returned for Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.PersonSingle"
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Person not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:patch-contacts-contactid-persons-personid"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/preferences": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Marketing Preferences by Contact Id",
        "description": "See glossary for definition of <a href=\"https://developers.zoopla.co.uk/docs/glossary#person\">Person</a> and <a href=\"https://developers.zoopla.co.uk/docs/glossary#contact\">Contact</a>.",
        "operationId": "GetPreferences",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact Consent Preferences returned for ContactId.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alto.Internal.DomainModels.Contacts.ContactConsentPreference"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error e.g. invalid ContactId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:post-contacts-contactid-preferences"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Contact Marketing Preferences",
        "description": "Update contact marketing preferences, changing the opt-in status for each preference type and optionally setting notes.",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier for the Contact.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JSON array of preference changes.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactConsentPreferencesRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactConsentPreferencesRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactConsentPreferencesRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:post-contacts-contactid-preferences"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/relationship": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Relationships by Contact Id",
        "description": "Get all relationships for a contact, such as guarantors and forwarding addresses.",
        "operationId": "GetContactRelationship",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relationshipType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relationship returned for Contact Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.GetContactRelationshipResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts-contactid-relationship"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact Relationship",
        "description": "Create a relationship between a contact and a non-marketable relationship contact, such as a guarantor.",
        "operationId": "CreateContactRelationship",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactRelationshipRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactRelationshipRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Requests.PostContactRelationshipRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact relationship created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.ContactRelationshipResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate contact relationships found. Check Location response headers for URI.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts-contactid-relationship"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}/relationship/{contactRelationshipId}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Contact Relationship",
        "description": "Delete a relationship between a contact and a non-marketable relationship contact, such as a guarantor.",
        "operationId": "DeleteContactRelationship",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactRelationshipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact relationship deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Contacts.Api.Models.Responses.ContactRelationshipResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:delete-contacts-contactid-relationship-contactrelationshipid"
            ]
          }
        ]
      }
    },
    "/contacts/all": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get All Contacts",
        "operationId": "GetAllContacts",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "description": "Filter only active or non-active contacts.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "example": true
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filters contacts by the category of the contact.",
            "schema": {
              "enum": [
                "Unknown",
                "Client",
                "Solicitor",
                "BuildingSociety",
                "Bank",
                "Publication",
                "EstateAgent",
                "ManagingAgent",
                "Developer",
                "Builder",
                "Utility",
                "Service",
                "PreviousClient",
                "Miscellaneous",
                "FinancialAdvisor",
                "Maintenance",
                "OnSiteSales",
                "ExternalPrinter",
                "OtherCategory1",
                "EstateAgentLocal",
                "Surveyor",
                "Supplier",
                "ContactRelationship",
                "Accountant"
              ],
              "type": "string",
              "example": "Client"
            },
            "example": "Client"
          },
          {
            "name": "persona",
            "in": "query",
            "description": "Filters contacts by persona within the Contact category of Client.\nA contact is included in the response if they match any of the specified personas.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Applicant",
                  "Vendor",
                  "Landlord",
                  "Tenant"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "next-token",
            "in": "query",
            "description": "The token for the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of results to return. The default value is 50, and the maximum value is 250",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "created-from",
            "in": "query",
            "description": "The start date for by created date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created-to",
            "in": "query",
            "description": "The end date for by created date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified-from",
            "in": "query",
            "description": "The start date for by modified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified-to",
            "in": "query",
            "description": "The end date for by modified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts matching the query returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Services.SDK.Pagination.PagedResponse1_Alto.Contacts.Api.Models.Responses.ContactListItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts-all"
            ]
          }
        ]
      }
    },
    "/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search All Contacts",
        "description": "Search for all matching contacts and return a paginated list of results.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The query term to search for contacts. This can match on names, addresses, email addresses, phone numbers,\nunique identifiers, reference codes, and company names where applicable.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "07700 900000"
            },
            "example": "07700 900000"
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Optional filter to only show or exclude archived contacts.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "example": false
          },
          {
            "name": "contact-type",
            "in": "query",
            "description": "Optional filter to only search a single contact type.",
            "schema": {
              "enum": [
                "Unknown",
                "Client",
                "Solicitor",
                "BuildingSociety",
                "Bank",
                "Publication",
                "EstateAgent",
                "ManagingAgent",
                "Developer",
                "Builder",
                "Utility",
                "Service",
                "PreviousClient",
                "Miscellaneous",
                "FinancialAdvisor",
                "Maintenance",
                "OnSiteSales",
                "ExternalPrinter",
                "OtherCategory1",
                "EstateAgentLocal",
                "Surveyor",
                "Supplier",
                "Accountant"
              ],
              "type": "string",
              "example": "Client"
            },
            "example": "Client"
          },
          {
            "name": "next-token",
            "in": "query",
            "description": "The token for the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of results to return. The default value is 50, and the maximum value is 250",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "created-from",
            "in": "query",
            "description": "The start date for by created date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created-to",
            "in": "query",
            "description": "The end date for by created date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified-from",
            "in": "query",
            "description": "The start date for by modified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified-to",
            "in": "query",
            "description": "The end date for by modified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "AgencyRef",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Services.SDK.Pagination.PagedResponse1_Alto.Contacts.Api.Models.Responses.ContactSearchItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alto.Api.Material.Models.Responses.ErrorsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appAuth": [
              "alto/route:get-contacts-search"
            ]
          }
        ]
      }
    },
    "/owners": {
      "get": {
        "tags": [
          "Owners"
        ],
        "summary": "Get Owners",
        "description": "Required scope: alto/read:contacts. \nSee glossary for definition of <a href=\"https://developers.vebraalto.com/guides/glossary\">Owner</a>.",
        "operationId": "GetOwners",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "description": "Filter only active or non-active owners.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "property-id",
            "in": "query",
            "description": "Only return owners where the propertyId matches one of the values provided",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "contact-id",
            "in": "query",
            "description": "Only return owners where the contactId matches one of the values provided",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "next-token",
            "in": "query",
            "description": "The token for the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of results to return. The default value is 50, and the maximum value is 250",
            "schema": {
              "type": "integer",
[...]
