openapi: 3.2.0
info:
  title: Alto Referrals API
  version: '1.0'
servers:
- url: https://api.alto.zoopladev.co.uk
  description: Sandbox
- url: https://api.alto.zoopla.co.uk
  description: Production
security:
- Bearer: []
tags:
- name: Referrals
paths:
  /referrals/{referralId}:
    get:
      tags:
      - Referrals
      parameters:
      - name: referralId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: AgencyRef
        in: header
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetReferralResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetReferralResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetReferralResponse'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - appAuth:
        - alto/route:get-referrals-referralid
    patch:
      tags:
      - Referrals
      summary: Updates a referral using JSON Patch
      parameters:
      - name: referralId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: AgencyRef
        in: header
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferralPatchJsonPatchDocument'
          text/json:
            schema:
              $ref: '#/components/schemas/ReferralPatchJsonPatchDocument'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReferralPatchJsonPatchDocument'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
      security:
      - appAuth:
        - alto/route:get-referrals-referralid
components:
  schemas:
    ReferralPatchOperation:
      anyOf:
      - title: /status
        type: object
        properties:
          op:
            enum:
            - replace
            type: string
            example: replace
          value:
            type: string
            example: '"InProgress,Lost, PaymentDue, CommissionPaid"'
          path:
            type: string
            example: /status
        description: "\n            The status of the referral\n            "
        example: "\n        {\n            \"path\": \"/status\",\n            \"op\": \"replace\",\n            \"value\": \"InProgress,Lost, PaymentDue, CommissionPaid\"\n        }"
      - title: /fees
        type: object
        properties:
          op:
            enum:
            - replace
            type: string
            example: replace
          value:
            type: number
            example: '100.00'
          path:
            type: string
            example: /fees
        description: "\n            The fees amount of the referral\n            "
        example: "\n        {\n            \"path\": \"/fees\",\n            \"op\": \"replace\",\n            \"value\": 100.00\n        }"
    GetReferralResponse:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        refereeId:
          type: integer
          format: int32
        tenancyId:
          type: integer
          format: int32
        offerId:
          type: integer
          format: int32
        status:
          type:
          - string
          - 'null'
        agentEmail:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReferralPatchJsonPatchDocument:
      type: array
      items:
        $ref: '#/components/schemas/ReferralPatchOperation'
      description: Array of operations to perform
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
