openapi: 3.2.0
info:
  title: Alto Landlords API
  version: '1.0'
servers:
- url: https://api.alto.zoopladev.co.uk
  description: Sandbox
- url: https://api.alto.zoopla.co.uk
  description: Production
security:
- Bearer: []
tags:
- name: Landlords
paths:
  /inventory/{inventoryId}/landlords:
    get:
      tags:
      - Landlords
      parameters:
      - name: inventoryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: AgencyRef
        in: header
        description: A GUID required in the header of all API requests that grants access to an agent's data
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.DTOs.ItemCollection1_Alto.PropertyManagement.Api.Models.Responses.Landlord'
            application/json:
              schema:
                $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.DTOs.ItemCollection1_Alto.PropertyManagement.Api.Models.Responses.Landlord'
            text/json:
              schema:
                $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.DTOs.ItemCollection1_Alto.PropertyManagement.Api.Models.Responses.Landlord'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
      security:
      - appAuth:
        - alto/route:get-inventory-inventoryid-landlords
  /landlords:
    get:
      tags:
      - Landlords
      summary: List Landlords
      description: Retrieves a paginated list of landlord contacts with optional filtering.
      parameters:
      - name: next-token
        in: query
        description: Token used to retrieve the next page of results. This is returned in the response of the previous page.
        schema:
          type: string
      - name: max-results
        in: query
        description: Maximum number of results to return per page. Defaults to 100 if not specified.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: created-from
        in: query
        description: The start date for filtering landlords by created date.
        schema:
          type: string
          format: date-time
      - name: created-to
        in: query
        description: The end date for filtering landlords by created date.
        schema:
          type: string
          format: date-time
      - name: modified-from
        in: query
        description: The start date for filtering landlords by modified date.
        schema:
          type: string
          format: date-time
      - name: modified-to
        in: query
        description: The end date for filtering landlords by modified date.
        schema:
          type: string
          format: date-time
      - name: active-status
        in: query
        description: Optionally filter landlords by their active status. By default only active landlords will be returned.
        schema:
          enum:
          - Active
          - Archived
          - All
          type: string
      - name: AgencyRef
        in: header
        description: A GUID required in the header of all API requests that grants access to an agent's data
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.PagedResults1_Alto.PropertyManagement.Api.Models.Responses.LandlordListItem'
            application/json:
              schema:
                $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.PagedResults1_Alto.PropertyManagement.Api.Models.Responses.LandlordListItem'
            text/json:
              schema:
                $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.PagedResults1_Alto.PropertyManagement.Api.Models.Responses.LandlordListItem'
      security:
      - appAuth:
        - alto/route:get-landlords
components:
  schemas:
    Alto.PropertyManagement.Api.Models.Responses.Landlord:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.Address'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Alto.Api.Material.Hateoas.Link'
          readOnly: true
      additionalProperties: false
    Alto.PropertyManagement.Api.Models.Responses.Address:
      type: object
      properties:
        subDwelling:
          type:
          - string
          - 'null'
        nameNo:
          type:
          - string
          - 'null'
        street:
          type:
          - string
          - 'null'
        locality:
          type:
          - string
          - 'null'
        town:
          type:
          - string
          - 'null'
        county:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
      additionalProperties: false
    Alto.PropertyManagement.Api.Models.Responses.PagedResults1_Alto.PropertyManagement.Api.Models.Responses.LandlordListItem:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.Meta'
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.LandlordListItem'
      additionalProperties: false
    Alto.PropertyManagement.Api.Models.DTOs.ItemCollection1_Alto.PropertyManagement.Api.Models.Responses.Landlord:
      type: object
      properties:
        totalCount:
          type: integer
          format: int32
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.Landlord'
      additionalProperties: false
    Alto.PropertyManagement.Api.Models.Responses.Person:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        emailAddresses:
          type:
          - array
          - 'null'
          items:
            type: string
        telephoneNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Alto.PropertyManagement.Api.Models.Responses.LandlordListItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        branchId:
          type: integer
          format: int32
        address:
          $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.Address'
        people:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.Person'
        properties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Alto.PropertyManagement.Api.Models.Responses.LandlordProperty'
        active:
          type: boolean
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Alto.Api.Material.Hateoas.Link'
          readOnly: true
      additionalProperties: false
    Alto.PropertyManagement.Api.Models.Responses.Meta:
      type: object
      properties:
        nextToken:
          type:
          - string
          - 'null'
        totalItems:
          type: integer
          format: int32
      additionalProperties: false
    Alto.PropertyManagement.Api.Models.Responses.LandlordProperty:
      type: object
      properties:
        subDwelling:
          type:
          - string
          - 'null'
        nameNo:
          type:
          - string
          - 'null'
        street:
          type:
          - string
          - 'null'
        locality:
          type:
          - string
          - 'null'
        town:
          type:
          - string
          - 'null'
        county:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        id:
          type: integer
          format: int32
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Alto.Api.Material.Hateoas.Link'
          readOnly: true
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Alto.Api.Material.Hateoas.Link:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
        rel:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
