openapi: 3.2.0
info:
  title: Alto Negotiators API
  version: '1.0'
servers:
- url: https://api.alto.zoopladev.co.uk
  description: Sandbox
- url: https://api.alto.zoopla.co.uk
  description: Production
security:
- Bearer: []
tags:
- name: Negotiators
paths:
  /negotiators:
    get:
      tags:
      - Negotiators
      summary: Get Negotiators
      description: Get a paginated list of negotiators
      parameters:
      - name: next-token
        in: query
        description: The token for the next page of results.
        schema:
          type: string
      - name: max-results
        in: query
        description: The maximum number of results to return. The default value is 50, and the maximum value is 250.
        schema:
          type: integer
          format: int32
      - name: AgencyRef
        in: header
        description: A GUID required in the header of all API requests that grants access to an agent's data
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a paginated list of negotiators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegotiatorPagedResponse'
        '401':
          description: Unauthorized
      security:
      - appAuth:
        - alto/route:get-negotiators
  /negotiators/{negotiatorId}:
    get:
      tags:
      - Negotiators
      summary: Get Negotiator By Id
      parameters:
      - name: negotiatorId
        in: path
        description: The unique identifier for the negotiator
        required: true
        schema:
          type: integer
          format: int32
      - name: AgencyRef
        in: header
        description: A GUID required in the header of all API requests that grants access to an agent's data
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the negotiator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Negotiator'
        '401':
          description: Unauthorized
        '404':
          description: The negotiator was not found
      security:
      - appAuth:
        - alto/route:get-negotiators-negotiatorid
components:
  schemas:
    Meta:
      type: object
      properties:
        nextToken:
          type:
          - string
          - 'null'
        previousToken:
          type:
          - string
          - 'null'
      additionalProperties: false
    NegotiatorPagedResponse:
      type: object
      properties:
        meta:
          allOf:
          - $ref: '#/components/schemas/Meta'
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Negotiator'
      additionalProperties: false
    Negotiator:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: The id of the negotiator.
        title:
          type:
          - string
          - 'null'
          description: The title of the negotiator.
        name:
          type:
          - string
          - 'null'
          description: The name of the negotiator.
        email:
          type:
          - string
          - 'null'
          description: The email of the negotiator.
        loginName:
          type:
          - string
          - 'null'
          description: The login name of the negotiator. It usually (but not always) contains the individual user's email address.
        phoneNumber:
          type:
          - string
          - 'null'
          description: All the phone numbers of the negotiator.
        role:
          type:
          - string
          - 'null'
          description: The role or job title of the negotiator.
        authorisedSignatory:
          type: boolean
          description: Whether the negotiator is an authorised signatory.
      additionalProperties: false
      description: Represents an negotiator.
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
